body {
  display: flex;
  flex-wrap: wrap;
}

div#app {
  min-height: 200px;
  width: 700px;
  margin: auto;
}

.main-panel {
  margin: auto;
  padding: 10px 16px;
}

.info-block {
  margin-top: 20px;
}

.building-row {
  background-color: powderblue;
}

.disabled-row {
  background-color: lightgray;
}

.monitored-row {
  background-color: #dff0d8;
}

.pre-line {
  white-space: pre-line;
}

.hidden-param {
  font-size: 0.8em;
  color: #8c8c8c;
  font-style: italic;
}

.no-wrap {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.checkbox {
  margin: 0;
}

.checkbox label {
  align-items: baseline;
}

.building {
  animation-name: building;
  animation-duration: 1.4s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes building {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.list-item-key {
  font-weight: bold;
}

.list-item-value {

}
/*table.dataTable.no-footer {*/
/*  border-bottom-color: rgb(221, 221, 221);*/
/*}*/

/*table.dataTable thead .sorting:after {*/
/*  content: "";*/
/*}*/
