.DS_Store
.vite-ssg-dist
.vite-ssg-temp
.eslintcache
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist
dist-prod
dist-ssr
node_modules
src/auto-imports.d.ts
src/components.d.ts
.eslintrc-auto-import.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
