<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="js/backgrounds/tools.js"></script>
  <script src="js/backgrounds/storage.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Jenkins Computer</title>
</head>
<body class="container-fluid">
<div id="app">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="monitor.html">{{strings.monitor}}</a></li>
    <li role="presentation"><a href="params.html">{{strings.params}}</a></li>
    <li role="presentation" class="active"><a href="computer.html">{{strings.computer}}</a></li>
    <li role="presentation" title="Open Job Statistics">
      <a href="#" @click="openJobList"><i class="glyphicon glyphicon-list"></i></a>
    </li>
    <li role="presentation" title="Open Options"><a href="#" @click="openOptions">
      <i class="glyphicon glyphicon-cog"></i></a>
    </li>
  </ul>

  <div class="info-block">
    <!--管理监控节点按钮-->
    <button type="button" class="btn btn-default" @click="openNodesManager('')">{{strings.manageMonitoredNodes}}
    </button>
    <!--刷新节点信息按钮-->
    <button type="button" class="btn btn-default" @click="refreshNodesInfo" title="Refresh nodes information">
      <i v-bind:class="[refreshIconNormal?'glyphicon glyphicon-refresh':'glyphicon glyphicon-ok text-success']"></i>
    </button>
  </div>
  <ol class="list-group info-block">
    <li class="list-group-item" v-for="(jenkinsNodes, jenkinsUrl, index) in monitoredNodes"
        v-show="'monitoredNodes' in jenkinsNodes && Object.keys(jenkinsNodes.monitoredNodes).length>0">
      <div style="height: 60px">
        <div class="col-xs-2">
          <img class="img-rounded avatar" alt="Computer" src="img/computer48.png">
        </div>
        <div class="col-xs-8">
          <div class="no-margin inline-block">
            <h4>
              <span class="no-wrap">{{decodeURIComponent(jenkinsUrl)}}</span>
              <br>
              <button type="button" class="small btn btn-link" style="padding: unset; line-height: 1.1"
                      @click="openNodesManager(jenkinsUrl)">
                <span class="no-wrap">{{strings.openManagerPage}}</span>
              </button>
            </h4>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="pull-right">
            <button type="button" class="close" aria-label="Close" @click="removeMonitor(jenkinsUrl)">
              <span aria-hidden="true">&times;</span></button>
            <!--Jenkins错误-->
            <a v-bind:class="['label', 'label-danger', {'hidden':jenkinsNodes.status=='ok'}]" target="_blank"
               :href="jenkinsUrl" title="Error">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
              Error
            </a>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-striped table-bordered"
             v-show="jenkinsNodes.status=='ok'"
             style="margin-bottom: 0">
        <tr>
          <th>{{strings.displayName}}</th>
          <th>{{strings.remainingDiskSpace}}</th>
          <th>{{strings.diskSpaceThreshold}}</th>
        </tr>
        <tr v-for="(node, displayName, index) in jenkinsNodes.monitoredNodes" :title="node.offline?'Offline':''">
          <!--记录：如果给row设置background-color，有概率会被 bootstrap table-striped 样式覆盖-->
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            <a :href="node.nodeUrl" target="_blank">{{displayName}}</a></td>
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            {{node.remainingDiskSpace}}
          </td>
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            {{node.diskSpaceThreshold}} GB
          </td>
        </tr>
      </table>
    </li>
  </ol>
</div>

</body>
<script src="js/libs/vue.js"></script>
<script src="js/computer.js"></script>
<script src="js/backgrounds/node_services.js"></script>
</html>
