<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="js/storage.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Jenkins Computer</title>
</head>
<body class="container-fluid">
<div id="app">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="monitor.html">{{strings.monitor}}</a></li>
    <li role="presentation"><a href="params.html">{{strings.params}}</a></li>
    <li role="presentation" class="active"><a href="computer.html">{{strings.computer}}</a></li>
    <li role="presentation"><a href="#" @click="openJobList"><span class="glyphicon glyphicon-list"></span></a></li>
    <li role="presentation"><a href="#" @click="openOptions"><span class="glyphicon glyphicon-cog"></span></a></li>
  </ul>

  <div>
    <button type="button" class="btn btn-link" @click="openNodesManager('')">管理监控节点</button>
  </div>
  <ol class="list-group info-block">
    <li class="list-group-item" v-for="(jenkinsNodes, jenkinsUrl, index) in monitoredNodes">
      <div style="height: 60px">
        <div class="col-xs-2">
          <img class="img-rounded avatar" alt="Computer" src="img/computer48.png">
        </div>
        <div class="col-xs-8">
          <div class="no-margin inline-block">
            <h4>
              <span class="no-wrap">{{decodeURIComponent(jenkinsUrl)}}</span>
              <br>
              <button type="button" class="small btn btn-link" style="padding: unset" @click="openNodesManager(jenkinsUrl)">
                <span class="no-wrap">打开管理页面</span>
              </button>
            </h4>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="pull-right">
            <button type="button" class="close" aria-label="Close" @click="removeMonitor(jenkinsUrl)">
              <span aria-hidden="true">&times;</span></button>
            <!--Jenkins错误-->
            <a v-bind:class="['label', 'label-danger', {'hidden':jenkinsNodes.status=='ok'}]" target="_blank"
               :href="jenkinsUrl" title="Error">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Error
            </a>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-striped table-bordered"
             v-show="true"
             style="margin-bottom: 0">
        <tr>
          <th>DisplayName</th>
          <th>RemainingDiskSpace</th>
          <th>DiskSpaceThreshold</th>
        </tr>
        <tr v-for="(node, displayName, index) in jenkinsNodes.monitoredNodes" :title="node.offline?'Offline':''">
          <!--记录：如果给row设置background-color，有概率会被 bootstrap table-striped 样式覆盖-->
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            <a :href="node.nodeUrl" target="_blank">{{displayName}}</a></td>
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            {{node.remainingDiskSpace}}
          </td>
          <td v-bind:class="[node.offline?'disabled-row':'', isSafe(node)?'text-success':'text-danger']">
            {{node.diskSpaceThreshold}} GB
          </td>
        </tr>
      </table>
    </li>
  </ol>
</div>

</body>
<script src="js/libs/vue.js"></script>
<script src="js/computer.js"></script>
</html>