<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Fetch/Update config.xml</title>
</head>
<body class="container-fluid main-panel">
<div id="app" style="width: 1000px;">

  <div style="text-align: center; margin: 20px 0;">
    <span style="font-size: x-large;">Fetch/Update config.xml</span>
  </div>
  <hr>
  <div class="form-group info-block" style="display: flex;">
    <span><label for="baseUrl" style="width: 84px; margin-top: 5px;">URL</label></span>
    <input type="url" class="form-control" id="baseUrl"
           :placeholder="strings.jenkinsUrlInputPlaceholder"
           :title="strings.jenkinsUrlInputPlaceholder"
           style="margin-left: 10px;"
           v-model="baseUrl">
    <input type="text" class="form-control" id="path"
           :placeholder="strings.requestPathInputPlaceholder"
           :title="strings.requestPathInputPlaceholder"
           style="margin-left: 10px;"
           v-model="requestPath">
    <button class="btn btn-info" style="width: 16%; margin-left: 10px;"
            :disabled="btnGetDisabled"
            @click="invokeGet">GET
    </button>
    <button class="btn btn-warning" style="width: 16%; margin-left: 10px;"
            :disabled="btnPostDisabled"
            @click="invokePost">POST
    </button>
  </div>
  <div class="form-group info-block" style="display: flex;">
    <span><label for="username" style="width: 84px;">Basic Auth</label></span>
    <input type="text" class="form-control" id="username"
           :placeholder="strings.jenkinsUsernameInputPlaceholder"
           :title="strings.jenkinsUsernameInputPlaceholder"
           style="margin-left: 10px;"
           v-model="username">
    <input type="password" class="form-control" id="password"
           :placeholder="strings.jenkinsPasswordInputPlaceholder"
           :title="strings.jenkinsPasswordInputPlaceholder"
           style="margin-left: 10px;"
           v-model="password">
    <label style="width: 45%; margin-left: 10px; margin-top: 5px;">
      <input type="checkbox" v-model="useCrumb"> Use Crumb
    </label>
  </div>
  <div class="info-block row">
    <div class="col-md-6">
      <label for="request-data-area" style="float: left; margin-top: 5px; margin-right: 10px;">Request Data:</label>
      <textarea id="request-data-area" class="form-control" rows="30"
                placeholder="An updated config.xml"
                v-model="requestData">
      </textarea>
    </div>
    <div class="col-md-6">
      <label for="response-data-area" style="float: left; margin-top: 5px; margin-right: 10px;">Response Data:</label>
      <textarea id="response-data-area" class="form-control" rows="30"
                v-model="responseData">
      </textarea>
    </div>
  </div>
  <!--  API 参考-->
  <div class="info-block panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>API Reference</b></h3>
    </div>
    <div class="panel-body">
      <ul style="line-height: 1.8em;">
        <li><span class="list-item-key">Create Job:</span>
          <span class="list-item-value">createItem?name=${jobname}</span></li>
        <li><span class="list-item-key">Update Job:</span>
          <span class="list-item-value">job/${jobname}/config.xml</span></li>
        <li><span class="list-item-key">Create View:</span>
          <span class="list-item-value">createView?name=${viewname}</span></li>
        <li><span class="list-item-key">Update View:</span>
          <span class="list-item-value">view/${viewname}/config.xml</span></li>
      </ul>
    </div>
  </div>
</div>
</body>
<script src="js/libs/browser-polyfill.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/config_xml_request.js"></script>
<script src="js/backgrounds/tools.js"></script>
</html>
