<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Fetch/Update Config XML</title>
</head>
<body class="container-fluid main-panel">
<div id="app" style="width: 1000px;">

  <div style="text-align: center; margin: 20px 0;">
    <span style="font-size: x-large;">Fetch/Update config.xml</span>
  </div>
  <hr>
  <div class="form-group info-block" style="display: flex;">
    <label for="baseUrl" style="display: inline-block; width: 110px; margin-top: 5px;">URL</label>
    <input type="url" class="form-control" id="baseUrl"
           placeholder="Jenkins url, for example: http://127.0.0.1:8080/jenkins/"
           style="margin-left: 10px;"
           v-model="baseUrl">
    <input type="text" class="form-control" id="path"
           placeholder="Request path, for example: job/Job1/config.xml"
           style="margin-left: 10px;"
           v-model="requestPath">
    <button class="btn btn-info" style="width: 16%; margin-left: 10px;"
            :disabled="btnGetDisabled"
            @click="invokeGet">GET
    </button>
    <button class="btn btn-warning" style="width: 16%; margin-left: 10px;"
            :disabled="btnPostDisabled"
            @click="invokePost">POST
    </button>
  </div>
  <div class="form-group info-block" style="display: flex;">
    <label for="username" style="display: inline-block; width: 94px;">Basic Auth</label>
    <input type="text" class="form-control" id="username" placeholder="Jenkins username (Optional)"
           style="margin-left: 10px;"
           v-model="username">
    <input type="password" class="form-control" id="password" placeholder="Jenkins password or api token (Optional)"
           style="margin-left: 10px;"
           v-model="password">
  </div>
  <div class="info-block row">
    <div class="col-md-6">
      <label for="request-data-area" style="float: left; margin-top: 5px; margin-right: 10px;">Request Data:</label>
      <textarea id="request-data-area" class="form-control" rows="30" placeholder="An updated config.xml"
                v-model="requestData"></textarea>
    </div>
    <div class="col-md-6">
      <label for="response-data-area" style="float: left; margin-top: 5px; margin-right: 10px;">Response Data:</label>
      <textarea id="response-data-area" class="form-control" rows="30"
                v-model="responseData"></textarea>
    </div>
  </div>

</div>
</body>
<script src="js/libs/browser-polyfill.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/config_xml_request.js"></script>
<script src="js/backgrounds/tools.js"></script>
</html>
