<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script src="js/storage.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Jenkins Job Statistics</title>
</head>
<body class="container-fluid" style="width: 1000px;">
<div id="app">
  <div class="page-header">
    <h1 style="text-align: center">{{strings.title}}</h1>
  </div>
  <div class="info-block" v-show="jobs.length>0">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Job URL</th>
        <th width="12%">Cron Table</th>
        <th width="12%">Node</th>
        <th width="8%">Disabled?</th>
        <th width="8%">Concurrent?</th>
      </tr>
      <tr v-for="job in jobs">
        <!--记录：如果给row设置background-color，有概率会被 bootstrap table-striped 样式覆盖-->
        <td v-bind:class="{'disabled-row':job.disabled === 'true'}">
          <a :href="job.url" target="_blank">{{job.url}}</a>
        </td>
        <td v-bind:class="{'disabled-row':job.disabled === 'true'}">{{job.timerTrigger}}</td>
        <td v-bind:class="{'disabled-row':job.disabled === 'true'}" :title="job.param">{{job.node}}</td>
        <td v-bind:class="{'disabled-row':job.disabled === 'true'}">{{job.disabled}}</td>
        <td v-bind:class="{'disabled-row':job.disabled === 'true'}">{{job.concurrentBuild}}</td>
      </tr>
    </table>
  </div>
  <div class="info-block">
    <div class="row">
      <div class="col-xs-6" v-show="jobs.length>0">
        <p>{{strings.jobStatisticsShowSettings_}}</p>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="showEnabledJobOnly">{{strings.jobStatisticsShowEnabledJobOnly}}
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="showCronTableJobOnly">{{strings.jobStatisticsShowCronTableJobOnly}}
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p>{{strings.jobStatisticsDataFrom_}}</p>
        <ul class="list-group">
          <li class="list-group-item">
            <p v-for="url in jenkinsUrls">{{url}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/job_stats.js"></script>
</html>