<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="js/storage.js"></script>
  <script src="js/services.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Jenkins Monitor</title>
</head>
<body class="container-fluid">
<div id="app">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="monitor.html">{{strings.monitor}}</a></li>
    <li role="presentation"><a href="params.html">{{strings.params}}</a></li>
    <li role="presentation"><a href="#" @click="openJobList"><span class="glyphicon glyphicon-list"></span></a></li>
    <li role="presentation"><a href="#" @click="openOptions"><span class="glyphicon glyphicon-cog"></span></a></li>
  </ul>

  <form id="url-form" class="info-block" ref="formUrl" name="url-form" @submit.prevent="addJenkinsUrl">
    <div class="input-group">
      <label class="input-group-addon" id="sizing-addon2" for="url">{{strings.url}}</label>
      <input id="url" ref="inputUrl" @input="validateForm" autofocus type="url" class="form-control"
             :placeholder="strings.inputUrlPlaceholder"
             aria-describedby="sizing-addon2" v-model="inputUrlValue">
      <span class="input-group-btn">
        <button id="add-url" class="btn btn-default" type="submit" :disabled="btnAddDisable">
          <span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div>
  </form>

  <div id="error-message" ref="msgError" class="alert alert-danger info-block hidden" role="alert"
       style="padding: 10px;">
  </div>

  <ol class="list-group info-block">
    <li class="list-group-item" v-for="(jenkins, jenkinsUrl, index) in jenkinsData.jobStatus">
      <div style="height: 60px">
        <div class="col-xs-2">
          <img class="img-rounded avatar" alt="Jenkins" src="img/icon48.png">
        </div>
        <div class="col-xs-8">
          <div class="no-margin inline-block">
            <h4>
              <span>{{jenkins.name}}</span>
              <br>
              <a class="small" target="_blank" :href="jenkinsUrl">{{jenkinsUrl}}</a>
            </h4>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="pull-right">
            <button type="button" class="close" aria-label="Close" @click="removeJenkins(jenkinsUrl)">
              <span aria-hidden="true">&times;</span></button>
            <!--Jenkins错误-->
            <a v-bind:class="['label', 'label-danger', {'hidden':jenkins.status=='ok'}]" target="_blank"
               :href="jenkinsUrl" :title="jenkins.error">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Error
            </a>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-striped table-bordered"
             v-show="jenkins.hasOwnProperty('jobs')"
             style="margin-bottom: 0">
        <tr>
          <th>Job Name</th>
          <th width="12%">Result</th>
        </tr>
        <tr v-for="(job, jobUrl, index) in jenkins.jobs"
            v-bind:class="{'building-row':job.building,'disabled-row':job.color === 'disabled'}">
          <td><a target="_blank" :href="jobUrl" v-bind:class="{'building':job.building}">{{job.name}}</a></td>
          <td><span v-bind:class="[
          'label',
          'label-default',
          {'building':job.building},
          {'label-success':job.color === 'blue'},
          {'label-danger':job.color === 'red'},
          {'label-primary':job.color === 'notbuilt'},
          {'label-warning':job.color === 'yellow'},
          {'label-default':job.color === 'aborted'},
          {'label-primary':job.color === 'disabled'},
          ]">{{job.status}}</span></td>
        </tr>
      </table>
    </li>
  </ol>
</div>

</body>
<script src="js/vue.js"></script>
<script src="js/monitor.js"></script>
</html>