<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <title>Jenkins Helper Options</title>
</head>
<body class="container-fluid main-panel">
<div id="app">
  <div>
    <div style="text-align: center; margin-top: 20px;">
      <span style="font-size: x-large;">{{strings.settings}}</span>
    </div>
    <div style="text-align: right; margin-bottom: 10px;">
      <button type="button" class="btn btn-link btn-sm" @click="switchView"
              v-text="isJsonView ? 'View UI' : 'View JSON'"></button>
    </div>
  </div>

  <div id="ui-settings" v-show="!isJsonView">
    <!--全局设置-->
    <div id="global-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.globalOptionTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div>
          <div>{{strings.defaultTab}}</div>
          <select class="form-control" style="margin-top: 8px" v-model="defaultTab">
            <option v-for="tab in defaultTabs" :name="tab.value" :value="tab.value">
              {{tab.text}}
            </option>
          </select>
        </div>
        <div class="info-block">
          <div>{{strings.jenkinsToken}}</div>
          <div>
            <div class="row" v-for="(token, index) in jenkinsTokens" style="margin-top: 8px">
              <div class="col-xs-4" style="padding-right: 0">
                <input type="url" class="form-control" aria-label="Jenkins url (prefix)"
                       placeholder="Jenkins url (prefix)" v-model="token.url" :title="token.url">
              </div>
              <div class="col-xs-3" style="padding-right: 0">
                <input type="text" class="form-control" aria-label="Username"
                       placeholder="Username" v-model="token.username" :title="token.username">
              </div>
              <div class="col-xs-5">
                <input type="password" class="form-control" aria-label="Token or password"
                       placeholder="Token or password" v-model="token.token">
              </div>
            </div>
            <button type="button" class="btn btn-default" style="margin-top: 10px; width: 100%" @click="addNewToken">
              <i class="glyphicon glyphicon-plus-sign"></i> {{strings.addNewTokenBtn}}
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--智能搜索设置-->
    <div id="omnibox-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.omniboxOptionTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div>
          <div>{{strings.searchFromJenkins}}</div>
          <textarea style="margin-top: 8px" class="form-control" rows="4" v-model="omniboxJenkinsUrl"
                    :placeholder="strings.searchFromJenkinsPlaceholder">
        </textarea>
          <div style="font-size: smaller; margin-top: 8px" v-html="strings.searchFromJenkinsTips">
          </div>
        </div>
      </div>
    </div>
    <!--监视器设置-->
    <div id="monitor-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.monitorOptionTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div>
          <div>{{strings.showNotification}}</div>
          <select class="form-control" style="margin-top: 8px" v-model="showNotificationOption">
            <option v-for="option in showNotificationOptions" :name="option.value" :value="option.value">
              {{option.text}}
            </option>
          </select>
        </div>
        <div class="info-block">
          <div>{{strings.refreshTime}}</div>
          <input style="width: 100%;"
                 :min="constants.monitorMinRefreshTime"
                 :max="constants.monitorMaxRefreshTime"
                 step="5"
                 type="range"
                 v-model="refreshTime">
          <i v-html="refreshTimeTip"></i>
        </div>
      </div>
    </div>
    <!--节点监控设置-->
    <div id="node-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.nodeOptionTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div>
          <div>{{strings.nodeRefreshTime}}</div>
          <input style="width: 100%;"
                 :min="constants.nodeMinRefreshTime"
                 :max="constants.nodeMaxRefreshTime"
                 step="0.5"
                 type="range"
                 v-model="nodeRefreshTime">
          <i v-html="nodeRefreshTimeTip"></i>
        </div>
      </div>
    </div>
    <!--Job统计设置-->
    <div id="job-stats-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.jobStatsTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div>
          <div>{{strings.jobStatsNodeParamTip}}</div>
          <input id="nodeParam" type="text" class="form-control" v-model="nodeParam"
                 :placeholder="strings.jobStatsNodeParamPlaceholder" style="margin-top: 8px">
        </div>
        <div class="info-block">
          <div>{{strings.jobStatsTitleTip}}</div>
          <textarea class="form-control" rows="4" v-model="jobStatsJenkinsUrl"
                    :placeholder="strings.jobStatsJenkinsPlaceholder" style="margin-top: 8px">
        </textarea>
        </div>
      </div>
    </div>
    <!--其他设置-->
    <div id="other-settings" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><b>{{strings.otherTitle}}</b></h3>
      </div>
      <div class="panel-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" v-model="enableParamsStashAndRecover"> {{strings.enableParamsStashAndRecover}}
          </label>
          <div style="font-size: smaller; color: grey" v-html="strings.paramsStashAndRecoverTips"></div>
        </div>
      </div>
    </div>
    <!--保存按钮-->
    <button type="button" class="btn btn-default" style="width: 100%" @click="saveOptions">{{strings.saveOptions}}
    </button>
    <!--显示保存成功的信息-->
    <div ref="showSavedMsg" class="alert alert-success" role="alert"
         style="margin-top: 10px;padding: 6px;visibility:hidden;text-align: center;">{{strings.optionsSaved}}
    </div>
  </div>
  <div id="json-settings" v-show="isJsonView">
    <div class="panel panel-default">
      <textarea class="form-control" rows="36" v-model="optionsJson" style="font-size: medium;"></textarea>
    </div>
  </div>
</div>
</body>
<script src="js/libs/browser-polyfill.js"></script>
<script src="js/backgrounds/storage.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/options.js"></script>
</html>
