<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

  <title>Jenkins Parameters</title>
</head>
<body class="container-fluid">
<div id="app">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="monitor.html">{{strings.monitor}}</a></li>
    <li role="presentation" class="active"><a href="params.html">{{strings.params}}</a></li>
    <li role="presentation"><a href="computer.html">{{strings.computer}}</a></li>
    <li role="presentation" title="Open Job Statistics"><a href="#" @click="openJobList">
      <i class="glyphicon glyphicon-list"></i></a>
    </li>
    <li role="presentation" title="Open Options"><a href="#" @click="openOptions">
      <i class="glyphicon glyphicon-cog"></i></a>
    </li>
  </ul>
  <ul class="list-group info-block" v-show="fullDisplayName">
    <li class="list-group-item">
      <div>
        <div class="row">
          <div class="col-xs-6"><i class="glyphicon glyphicon-tag"></i>
            <a :href="url" target="_blank" style="margin-left: 8px">{{fullDisplayName}}</a>
          </div>
          <div class="col-xs-6">{{strings.buildStatus_}}
            <!--构建中-->
            <span v-if="building" v-bind:class="[
          'label',
          'label-info',
          'building',
          ]">{{strings.building}}</span>
            <!--构建已完成-->
            <span v-else v-bind:class="[
          'label',
          'label-default',
          {'label-success':result === 'SUCCESS'},
          {'label-danger':result === 'FAILURE'},
          {'label-warning':result === 'UNSTABLE'},
          {'label-default':result === 'ABORTED'},
          ]">{{result}}</span>

          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col-xs-6"><i class="glyphicon glyphicon-time"></i>
            <span style="margin-left: 8px">{{buildTime}}</span></div>
          <div class="col-xs-6" v-show="builtOn">{{strings.runLabel_}}<span ref="builtOnSpan">{{builtOn}}</span>
            <a style="margin-left: 8px;cursor: pointer" class="glyphicon glyphicon-duplicate" @click="copyBuiltOn"
               title="Copy"></a>
            <span ref="copiedSpan"
                  style="color: #3c763d;font-size:smaller;margin-left: 10px;visibility: hidden">{{strings.copied}}
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="info-block" v-show="parameters.length > 0">
    <p>{{strings.paramsList}}</p>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-bordered">
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        <tr v-for="parameter in parameters">
          <td><span>{{parameter.name}}</span></td>
          <td><span v-bind:class="[
          'pre-line',
          {'hidden-param':parameter.hidden},
          ]">{{parameter.value}}</span></td>
        </tr>
      </table>
    </div>
  </div>

  <!--Prev/Next/Rebuild Button-->
  <div class="row" v-show="fullDisplayName">
    <div class="btn-group col-xs-6" role="group" aria-label="prevOrNext">
      <button type="button" class="btn btn-default" @click="prevBuild" title="Previous Build">
        <i class="glyphicon glyphicon-menu-left"></i>
      </button>
      <button type="button" class="btn btn-default" @click="nextBuild" title="Next Build">
        <i class="glyphicon glyphicon-menu-right"></i>
      </button>
    </div>
    <div class="col-xs-6">
      <p class="text-right">
        <button type="button" class="btn btn-default" @click="downloadConsoleLog" title="Download Console Log">
          <i class="glyphicon glyphicon-cloud-download"></i>
        </button>
        <button type="button" class="btn btn-default" @click="goToConfigure" title="Configure">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button type="button" class="btn btn-default" @click="rebuild" title="Rebuild">
          <i class="glyphicon glyphicon-play"></i>
        </button>
      </p>
    </div>
  </div>

  <!--Empty Page-->
  <h3 class="text-center" v-show="!fullDisplayName" style="margin: 64px">
    {{strings.noData}}
  </h3>
</div>
</body>
<script src="js/libs/vue.js"></script>
<script src="js/params.js"></script>
<script src="js/tools.js"></script>
</html>
