// a 链接文本颜色
.jk-a-link-color {
  color: var(--jk-link);
}

.jk-is-loading {
  animation: jk-rotating 2s linear infinite;
}

@keyframes jk-rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}
