// a 链接文本颜色
.a-link-color {
  color: var(--jk-link);
}

.is-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

/* font-family: system-ui, "—apple-system", "Segoe UI", Rototo, Emoji, Helvetica, Arial, sans-serif; */

// 全局设置 Naive 组件样式
.n-popover {
  max-width: 600px;

  .n-popover__content {
    .n-popconfirm__body {
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

//////////////////////////////////
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  line-height: 10px;
  color: var(--jk-kbdColor);
  vertical-align: middle;
  background-color: var(--jk-kbdBgColor);
  border: solid 1px var(--jk-kbdBorderColor);
  border-bottom-color: var(--jk-kbdBorderColor);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--jk-kbdBorderColor);
}
